.dashboard-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    box-shadow: inset 0 0 1em rgba(155, 155, 155, 0.137), 0 0 1em rgba(75, 75, 75, 0.589);
    padding-left: 10%;
    padding-right: 5%;
}

/* .dashboard-container header span {
    font-size: 20px;
    margin-left: 24px;
} */

.dashboard-container header img {
    height: 50px;
    margin: 0;
    margin-right: 1%;
    position: relative;
}

.dashboard-container header a {
    width: 260px;
    margin-top: 0;
    margin-left: 1%;
}

/* button */

.addButton {
    width: 20%;
    height: 10px;
    margin-top: 5%;
    padding: 20px;
    margin-bottom: 5%;
}

.addButton button {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-self: center;
    font-weight: 600;
}

/* cards */

.dashboard-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
    margin-top: 10%;
    padding: 10px;
    overflow: hidden;
}

.dashboard-container ul li {
    box-shadow: inset 0 0 1em rgba(155, 155, 155, 0.137), 0 0 1em rgba(75, 75, 75, 0.589);
    background: rgb(245, 245, 245);
    padding: 24px;
    border-radius: 8px;
    position: relative;
    /* max-height: 150%; */
}

.dashboard-container ul li button {
    position: absolute;
    right: 24px;
    top: 20px;
    border: 0;
    background-color: transparent;
    transition: opacity 0.2s;
}

.dashboard-container ul li button:hover {
    opacity: 0.8;
}

.dashboard-container ul li strong {
    display: block;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.dashboard-container ul li h3 {
    font-weight: 300;
    padding: 12px;
}

.dashboard-container ul li p {
    min-height: 20%;
    font-weight: 200;
    font-family: Roboto;
    text-transform: capitalize;
    margin-left: 2%;
}

.dashboard-container ul li p+strong {
    margin-top: 32px;
}

.dashboard-container ul li select {
    margin-top: 2%;
    padding: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex: 1;
    background: #f0f0f5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6e6e72;
}

/* Modal: Create task */

.createTask-component {
    width: 100%;
    height: 100%;
    text-align: center;
}

.createTask-component h1 {
    font-weight: 300;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.createTask-component input {
    margin-top: 1%;
}

.createTask-component textarea {
    margin-top: 1%;
}

.createTask-component button {
    width: 20%;
}

/* Modal: Update task */

.updateTask-component {
    width: 100%;
    height: 100%;
}

.updateTask-component h1 {
    font-weight: 300;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.updateTask-component input {
    margin-top: 1%;
}

.updateTask-component textarea {
    margin-top: 1%;
}

.updateTask-component button+select {
    justify-content: space-around;
    width: 20%;
}

.updateTask-component select {
    width: 30%;
}

/* Modal: User profile */

.userModal-component {
    align-items: center;
    text-align: center;
}

.userModal-component img {
    height: 100px;
}

.userModal-component .button-crud {
    display: inline;
    align-self: baseline;
}

.userModal-component .button {
    width: 20%;
    margin: 2%;
}

/* .userModal-component img h3 {
    justify-content: center;
} */